/* General Settings */

html {
    line-height: 1.15;
    /* 1 */
    /* 2 */
}

body {
    background-size: cover;
    background-image: url("img/devin.jpg");
    font-size: 16px;
    font-family: "Arial", Helvetica, sans-serif;
    margin: 0;
    color: #1f2937;
}

main {
    display: block;
    padding: 30px 0;
}

a:hover {
    text-decoration: none;
    opacity: 0.95;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
div {
    color: gray;
    margin: 0;
}

h2 {
    font-size: 28px;
}

ul {
    list-style: none;
    padding-left: 0;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

p {
    font-size: 1em;
}

.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: whitesmoke;
}

.all-browsers>h1,
.browser {
    margin: 10px;
    padding: 5px;
}

.browser {
    background: white;
}

.browser>h2,
p {
    margin: 4px;
    font-size: 90%;
}

img {
    border-color: gray;
    border-style: var(--dark-background)
}

.container {
    background: whitesmoke;
    width: 1400px;
    margin: 0 auto;
    padding: 0 18px;
    max-width: 800%;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}


/* End General Settings */


/* Header */

header {
    background: #A3B18A;
    padding: 10px;
}

.title-header .title {
    display: inline-block;
    color: black;
    font-size: 18px;
}

.title-header .logo {
    display: inline-block;
}

.title-header .logo img {
    vertical-align: middle;
}

nav {
    color: black;
    font-size: 18px;
    background: #606C3B;
}

nav li a {
    color: black;
    display: inline-block;
    padding: 10px 10px;
}


/* End Header */


/* Footer */

footer {
    position: relative;
    background: #333;
    color: #fff;
    padding: 10px;
    height: 100px;
}

footer a {
    color: cornsilk;
}


/* End Footer */


/* Home Page Content */

.menu-item.additional-items h2 {
    width: 50%;
    float: left;
}

.menu-item.additional-items .item-inner ul {
    display: inline-block;
    width: 50%;
}


/* End Home Page Content */


/* Page Content */

.event-item {
    margin-bottom: 25px;
    border: 1px solid #000
}


/* End Page Content */