:root {
    /*Backgrounds*/
    --dark-background: #1f2937;
    /*Hero / Footer*/
    --light-background: #e5e7eb;
    /*Buttons / Call to action*/
    /*Texts*/
    --main-text-size: 48px;
    /*Hero*/
    --logo-text-size: 24px;
    /*Logo*/
    --primary-text-size: 36px;
    /*Sections title / Quote*/
    --secondary-text-size: 18px;
    /*Hero / Header Link*/
    --main-text-color: #f9faf8;
    /*Hero / Logo*/
    --primary-text-color: #1f2937;
    /*Sections title / Quote*/
    --secondary-text-color: #e5e7eb;
    /*Hero / Header Link*/
}
