:root {
    /*Backgrounds*/
    --dark-background: #1f2937;
    /*Hero / Footer*/
    --light-background: #e5e7eb;
    /*Buttons / Call to action*/
    --action-background: #3882f6;
    /*Texts*/
    --main-text-size: 48px;
    /*Discount*/
    --logo-text-size: 24px;
    /*Logo*/
    --primary-text-size: 36px;
    /*Sections title / Quote*/
    --secondary-text-size: 18px;
    /*Hero / Header Link*/
    --main-text-color: #f9faf8;
    /*Hero / Logo*/
    --primary-text-color: #1f2937;
    /*Sections title / Quote*/
    --secondary-text-color: #e5e7eb;
    /*Discount / Header Link*/
}

.mb-30 {
    margin-bottom: 30px;
}

.flex {
    display: flex;
}
