* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("../assets/images/coffee-beans-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.contact {
    display: flex;
    align-items: center;
}

.box {
    background-color: #e5e7ebbb;
    color: #1f2937;
    padding: 4%;
    border-radius: 5%;
}

.contact-icon {
    height: 20px;
}

h1 {
    text-align: center;
}

p {
    margin-top: 8px;
    margin-bottom: 2px;
    margin-left: 7px;
}

.email {
    margin-top: 10%;
}

@media (max-width: 768px) {
    div {
        font-size: 0.8rem;
    }
}

@media (max-width: 400px) {
    div {
        font-size: 0.6rem;
    }
}
