* {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.main {
    background-image: url("../assets/images/coffee-beans-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.question {
    justify-content: center;
}

.contact {
    display: flex;
    align-items: center;
}

.contact-box {
    background-color: #e5e7ebbb;
    color: #1f2937;
    padding: 4%;
    border-radius: 5%;
    margin: 100px auto;
    flex-direction: column;
    width: 400px;

    display: flex;
    justify-content: center;
}

.contact-icon {
    height: 20px;
}

h1 {
    text-align: center;
}

figcaption {
    margin-top: 8px;
    margin-bottom: 2px;
    margin-left: 7px;
}

.email {
    margin-top: 10%;
}

@media (max-width: 768px) {
    .contact-box {
        font-size: 0.8rem;
    }
}

@media (max-width: 550px) {
    .contact-box {
        font-size: 0.7rem;
    }
}

@media (max-width: 425px) {
    .contact-box {
        font-size: 0.6rem;
    }
}
