

/* Home Page Content */

.menu-item.additional-items h2 {
    width: 50%;
    float: left;
}

.menu-item.additional-items .item-inner ul {
    display: inline-block;
    width: 50%;
}


/* End Home Page Content */


/* Page Content */

.event-item {
    margin-bottom: 25px;
    border: 1px solid #000
}


/* End Page Content */
