.details-content{
    padding: 50px;
    color: var(--dark-background);
}

.menu-item.additional-items h2 {
    width: 50%;
    float: left;
}

.menu-item.additional-items .item-inner ul {
    display: inline-block;
    width: 50%;
}

.event-item {
    margin-bottom: 25px;
    border: 1px solid #000
}

.container {
    background: whitesmoke;
    width: 1400px;
    margin: 0 auto;
    padding: 0 18px;
    max-width: 100%;
    box-sizing: border-box;
}
