* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

blockquote {
    font-size: var(--primary-text-size);
    color: var(--primary-text-color);
    font-weight: 300;
    font-style: italic;
    max-width: 1000px;
}

cite {
    width: 100%;
    max-width: 1000px;
    text-align: right;
    margin-top: 10px;
    font-style: normal;
}

.btn {
    border: 2px solid white;
    padding: 3px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: all ease .5s;
}

.btn:hover {
    background-color: white;
    color: var(--action-background);
}

.features {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    margin-bottom: 50px;
}
.features h2 {
    font-size: var(--primary-text-size);
    color: var(--primary-text-color);
    font-weight: 900;
}

.features-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 50px 0 0 0;
}

.feature-tag {
    width: 200px;
}
.feature-tag img {
    margin-bottom: 25px;
}
.feature-tag h3 {
    margin-bottom: 10px;
}

.quote {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--light-background);
    padding: 100px;
}

.action {
    width: 100vw;
    height: auto;
    padding: 75px 20%;
}

.action-container {
    width: 100%;
    height: 100%;
    background-color: var(--action-background);
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    padding: 50px 150px;
    justify-content: space-between;
}
.action-container p {
    font-size: 14px;
    font-weight: light;
    margin-top: 3px;
}

footer {
    position: relative;
    width: 100vw;
    height: auto;
    background-color: var(--dark-background);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 25px;
}
footer ul {
    list-style: none;
    margin-top: 5px;
}
footer ul li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}