* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    background-size: cover;
    background-image: url("../assets/images/devin.jpg");
    font-size: 16px;
    font-family: "Arial", Helvetica, sans-serif;
    margin: 0;
    color: #1f2937;
}

main {
    display: block;
    padding: 30px 0;
}

a:hover {
    text-decoration: none;
    opacity: 0.95;
}

h2 {
    font-size: 28px;
}

ul {
    list-style: none;
    padding-left: 0;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

p {
    font-size: 1em;
}

img {
    border-color: gray;
    border-style: var(--dark-background)
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}

/*header session starts*/

.nav-list {
    background: var(--dark-background);
    padding: 1rem 0;
    border-radius: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    color: var(--secondary-text-color);
    font-size: var(--secondary-text-size);
    list-style: none;
    margin-right: 2em;
}

.nav-item a {
    text-decoration: none;
    color: var(--main-text-color);
    transition: all 200ms ease-in;
    font-size: var(--logo-text-size);
}

.nav-item a:hover {
    color: #039d69;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 2em;
    color: #F9FAF8;
    font-size: 24px;
}


/*header session ends */

.main-text-section {
    background-color: #1F2937;
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

.main-text {
    margin-right: 50px;
    max-width: 50%;
}

.main-text h1 {
    font-size: 48px;
    color: #F9FAF8;
    margin-top: 0;
    font-weight: 900;
}

.main-text p {
    font-size: 18px;
    color: #E5E7EB;   
    line-height: 2;
}

.main-text-image {
    border-radius: 14px;
}

@media only screen and (max-width: 910px) {
    .main-text-section {
        flex-direction: column;
    }
    
    .main-text {
        margin: 0;
        max-width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    

}
@media only screen and (max-width: 767px) {
    .main-text-section {
        flex-direction: column;
    }
    
    .main-text {
        margin: 0;
        max-width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .main-text-image {        
        max-width: 100%;
    }
}
.sign-up-btn {
    border: 2px solid var(--action-background);
    padding: 3px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: all ease .5s;
    background-color: var(--action-background);
}

.sign-up-btn:hover {
    background-color: white;
    color: var(--action-background);
}
/*footer session ends */

footer {
    position: relative;
    height: auto;
    background-color: var(--dark-background);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 14px;
}

footer ul {
    list-style: none;
    margin-top: 5px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.team-container {
    gap: 20px;
}

.team-header {
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

/*footer session ends */

@media (max-width: 400px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    footer section {
        margin: 10px 0;
    }
}
